* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #111;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Card */
.login-card {
    background: #111;
    padding: 30px;
    width: 100%;
    max-width: 380px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

/* Title */
.login-card h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* Inputs */
input {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #333;
    background: #2a2a2a;
    color: white;
    font-size: 14px;
}

.button-group {
    display: flex;
    gap: 12px;
    margin-top: 10px;
}

.main-btn {
    flex: 1;          
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;

    border-radius: 8px;
    text-decoration: none;
    background: #ff4655;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.main-btn:hover {
    background: #e03a47;
}