<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Valorant Predict</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="navbar">
  <div class="logo">PICKEM</div>
  <div class="nav-links">
    <a href="/predict">Pick'em</a>
    <a href="/matches">Matches</a>
    <a href="/tournament">Tournament</a>
    <a href="/leaderboard">Leaderboard</a>
    <a href="/teams">Teams</a>
    
    {% if logged_in %}
        <span class="user-name">{{ session['username'] }}</span>
        <a href="/logout" class="logout-link">Log out</a>
    {% else %}
        <span>Profile</span>
    {% endif %}
  </div>
</div>

<div class="header">
  <h1>Predict</h1>
  <div class="tabs">
    <span class="active">Predictions</span>
    <span>Leagues</span>
    <span>Prizes</span>
    <span>Rules</span>
  </div>
</div>


{% if not logged_in %}
<div class="login-box">
  <div>
    <h2>Unlock the full experience</h2>
    <p>Create an account to compete and climb the leaderboard.</p>
  </div>
  <button onclick="window.location.href='/login'">Log in to play</button>
</div>
{% endif %}


<div class="match-section">
  <h2>25 - 26 March</h2>

  <div class="match-card">
    <div class="match-top">
      <div class="teams">
        <span class="team1">Sentinels</span>
        <div class="score-box">
          <input type="number" id="s1" class="score-input" min="0">
          <input type="number" id="s2" class="score-input" min="0">
        </div>
        <span class="team2">Fnatic</span>
      </div>
    </div>

  {% if logged_in %}
    <button class="submit-btn" 
      onclick="submitPrediction(this, 'match1')">
      Submit Prediction
    </button>
  {% else %}
    <p class="login-warning">Please login to play</p>
  {% endif %}

    <div class="result" id="result"></div>
  </div>

  <div class="match-card">
    <div class="match-top">
      <div class="teams">
        <span class="team1">Paper Rex</span>
        <div class="score-box">
          <input type="number" id="s3" class="score-input" min="0">
          <input type="number" id="s4" class="score-input" min="0">
        </div>
        <span class="team2">LOUD</span>
      </div>
    </div>
  {% if logged_in %}
    <button class="submit-btn" 
      onclick="submitPrediction(this, 'match2')">
      Submit Prediction
    </button>
  {% else %}
    <p class="login-warning">Please login to play</p>
  {% endif %}
    <div class="result" id="result2"></div>
  </div>

</div>



<script>
function submitPrediction(button, matchId) {
  // หา match-card ที่กด
  const card = button.closest(".match-card");
  // อ่าน score เฉพาะในการ์ดนี้
  const inputs = card.querySelectorAll(".score-input");
  const s1 = inputs[0].value;
  const s2 = inputs[1].value;

  // เช็คกรอกครบ
  if (s1 === "" || s2 === "") {
    card.querySelector(".result").innerText =
      "Please enter both scores.";
    return;
  }

  // เช็คติดลบ
  if (s1 < 0 || s2 < 0) {
    document.getElementById('result').innerText="Scores cannot be negative.";
    return;
  }
  // ✅ เช็ค BO3
  const maxScore = Math.max(s1, s2);
  const minScore = Math.min(s1, s2);
  if (!(maxScore === 2 && minScore <= 1)) {
    document.getElementById('result').innerText="Please enter a valid BO3 score (2-0, 2-1, 1-2, 0-2)";
    return;
  }

  // อ่านชื่อทีม
  const team1 = card.querySelector(".team1").innerText;
  const team2 = card.querySelector(".team2").innerText;

  const winner =
    parseInt(s1) > parseInt(s2) ? team1 : team2;

  fetch("/submit_prediction", {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({
      match_id: matchId,
      predict_winner: winner,
      predict_score: s1 + "-" + s2
    })
  })
  .then(res => res.json())
  .then(data => {
    if (data.status === "success") {
      card.querySelector(".result").innerText =
        "Prediction saved / updated!";
    }
  });
}

function submitPrediction2(button, matchId) {
  // หา match-card ที่กด
  const card = button.closest(".match-card");
  // อ่าน score เฉพาะในการ์ดนี้
  const inputs = card.querySelectorAll(".score-input");
  const s1 = inputs[0].value;
  const s2 = inputs[1].value;

  // เช็คกรอกครบ
  if (s1 === "" || s2 === "") {
    card.querySelector(".result").innerText =
      "Please enter both scores.";
    return;
  }

  // เช็คติดลบ
  if (s1 < 0 || s2 < 0) {
    document.getElementById('result').innerText="Scores cannot be negative.";
    return;
  }
  // ✅ เช็ค BO3
  const maxScore = Math.max(s1, s2);
  const minScore = Math.min(s1, s2);
  if (!(maxScore === 5 && minScore <= 1)) {
    document.getElementById('result2').innerText="Please enter a valid BO5 score (5-0, 5-1, 4-5, 1-5)";
    return;
  }
  
  // อ่านชื่อทีม
  const team1 = card.querySelector(".team1").innerText;
  const team2 = card.querySelector(".team2").innerText;

  const winner =
    parseInt(s1) > parseInt(s2) ? team1 : team2;

  fetch("/submit_prediction", {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({
      match_id: matchId,
      predict_winner: winner,
      predict_score: s1 + "-" + s2
    })
  })
  .then(res => res.json())
  .then(data => {
    if (data.status === "success") {
      card.querySelector(".result").innerText =
        "Prediction saved / updated!";
    }
  });
}


</script>


</body>
</html>

