<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/static/login-page.css">
</head>
<body>

    <div class="login-card">
        <h2>Register</h2>
    
        <form method="POST">
            <input type="text" name="username" placeholder="Choose Username" required>
            <input type="password" name="password" placeholder="Create Password" required>
            
            <div class="button-group">
                <button type="submit" class="main-btn">Sign Up</button>
                <a href="/login" class="main-btn" style="background-color: #666;">Back to Login</a>
            </div>
        </form>
    </div>

</body>
</html>